/*-- scss:defaults --*/


/*-- scss:rules --*/
bs-link-color-rgb {
    color: #FF0000;   
}


link { color: #FF0000; } /* CSS link color */
a { color: #10683c;}

body > footer{
    margin:0px;
    padding:100px;
    min-width:100%;
    max-width:100%;
    background:#ffffff;
    height:auto;
}

header#quarto-header.headroom {
    padding-top:10px;
    padding-bottom: 15px;
}

#quarto-header {
    width: 90%;
    margin: auto
}

.mw-infoblock {
    margin-left: 40px; 
    font-size: 90%;
}

