/*-- scss:defaults --*/

/*-- scss:rules --*/
bs-link-color-rgb {
    color: #FF0000;   
}

link { color: #FF0000; } /* CSS link color */
a { color: #10683c;}

.nav-footer {
    p.last-child {
        element {
            padding-right: 50px;
        }
    }
}

header#quarto-header.headroom {
    padding-top:10px;
    padding-bottom: 15px;
}

#quarto-header {
    width: 90%;
    margin: auto
}

