/*-- scss:defaults --*/

bs-link-color-rgb {
    color: #FF0000;   
}

header#quarto-header.headroom {
    padding-left:100px;
    padding-top:50px;
    padding-bottom: 25px;
    padding-right:100px;
}

.nav-footer {
    p.last-child {
        element {
            padding-right: 100px;
        }
    }
}
/*-- scss:rules --*/

navbar-container container-fluid {
    width:1000px;
}

link { color: #FF0000; } /* CSS link color */
a { color: #10683c;}
